<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Title</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/core.css"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bxslider.js"></script>
    <script type="text/javascript" src="js/wow.js"></script>
    <script> new WOW().init(); </script>
</head>

<body>


<header>
    <div class="top-links-wrap">
        <div class="top-links-content">
            <div class="hotline">Hotline : 0912345678</div>
            <ul class="top-links" >
                <li class="contact"><a href="#">liên hệ</a></li>
                <li class="login"><a href="#">đăng nhập</a></li>
                <li class="separate">&frasl;</li>
                <li class="register"><a href="#">đăng ký</a></li>
            </ul>
        </div>
    </div>
    <div class="logo-wrap ">
        <a class="logo" href=""><h1><strong>SmartAd SmartAd.vn</strong></h1></a>
    </div>
    <div class="megamenu style-default">
        <ul data-wow-delay=".4s" class="lv0  ">
            <li><a href="#">Tư vấn Marketing Online</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Marketing Oline</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Google Display</a></li>
                    <li><a href="#">Facebook Ad</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul>
            </li>
            <li><a href="#">Tiếp thị số</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul>
            </li>
            <li class="active" ><a href="#">Thị trường IM</a>
                <ul class="lv1" style="display: block; ">
                    <li><a href="#">Tin marketing online</a></li>
                    <li class="active" ><a href="#">tin google</a></li>
                    <li><a href="#">tin facebook</a></li>
                    <li><a href="#">thủ thuật hay</a></li>
                </ul></li>
            <li><a href="#">Về SmartAd</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul></li>
            <li><a href="#">Đối tác</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul></li>
        </ul>
    </div>


</header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="block">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Trang Chủ</a><span>&gt;</span></li>
                        <li><a href="#">Tin Tức</a><span>&gt;</span></li>
                        <li><strong>Tin google</strong></li>
                    </ul>
                </div>
                <div class="block-content">
                    <div class="product-list">
                        <ul>
                            <li class="item">
                                <a class="product-img" href="#"><img src="images/img_list_01.png" alt=""/> </a>
                                <div class="product-shop">
                                    <div class="product-name"><a href="#">Mộng Tu Tiên mở máy chủ mới</a></div>
                                    <div class="desc">Lại đây bên anh, em hỡi trước khi xa anh đêm nay, lại gần bên anh. Vẫn biết đôi ta chia tay, nhưng trong lòng còn mê say...Lại gần với anh...Lại đây bên anh, hãy nói ta luôn yêu nhau tim ta chẳng đổi thay đâu. Hãy nói em không ra đi cho anh đừng buồn chia ly...</div>
                                    <div class="buttons-set"><a class="more" href="#">more</a></div>
                                </div>
                            </li>
                            <li class="item">
                                <a class="product-img" href="#"><img src="images/img_list_01.png" alt=""/> </a>
                                <div class="product-shop">
                                    <div class="product-name"><a href="#">Mộng Tu Tiên mở máy chủ mới</a></div>
                                    <div class="desc">Lại đây bên anh, em hỡi trước khi xa anh đêm nay, lại gần bên anh. Vẫn biết đôi ta chia tay, nhưng trong lòng còn mê say...Lại gần với anh...Lại đây bên anh, hãy nói ta luôn yêu nhau tim ta chẳng đổi thay đâu. Hãy nói em không ra đi cho anh đừng buồn chia ly...</div>
                                    <div class="buttons-set"><a class="more" href="#">more</a></div>
                                </div>
                            </li>
                            <li class="item">
                                <a class="product-img" href="#"><img src="images/img_list_01.png" alt=""/> </a>
                                <div class="product-shop">
                                    <div class="product-name"><a href="#">Mộng Tu Tiên mở máy chủ mới</a></div>
                                    <div class="desc">Lại đây bên anh, em hỡi trước khi xa anh đêm nay, lại gần bên anh. Vẫn biết đôi ta chia tay, nhưng trong lòng còn mê say...Lại gần với anh...Lại đây bên anh, hãy nói ta luôn yêu nhau tim ta chẳng đổi thay đâu. Hãy nói em không ra đi cho anh đừng buồn chia ly...</div>
                                    <div class="buttons-set"><a class="more" href="#">more</a></div>
                                </div>
                            </li>
                            <li class="item">
                                <a class="product-img" href="#"><img src="images/img_list_01.png" alt=""/> </a>
                                <div class="product-shop">
                                    <div class="product-name"><a href="#">Mộng Tu Tiên mở máy chủ mới</a></div>
                                    <div class="desc">Lại đây bên anh, em hỡi trước khi xa anh đêm nay, lại gần bên anh. Vẫn biết đôi ta chia tay, nhưng trong lòng còn mê say...Lại gần với anh...Lại đây bên anh, hãy nói ta luôn yêu nhau tim ta chẳng đổi thay đâu. Hãy nói em không ra đi cho anh đừng buồn chia ly...</div>
                                    <div class="buttons-set"><a class="more" href="#">more</a></div>
                                </div>
                            </li>
                            <li class="item">
                                <a class="product-img" href="#"><img src="images/img_list_01.png" alt=""/> </a>
                                <div class="product-shop">
                                    <div class="product-name"><a href="#">Mộng Tu Tiên mở máy chủ mới</a></div>
                                    <div class="desc">Lại đây bên anh, em hỡi trước khi xa anh đêm nay, lại gần bên anh. Vẫn biết đôi ta chia tay, nhưng trong lòng còn mê say...Lại gần với anh...Lại đây bên anh, hãy nói ta luôn yêu nhau tim ta chẳng đổi thay đâu. Hãy nói em không ra đi cho anh đừng buồn chia ly...</div>
                                    <div class="buttons-set"><a class="more" href="#">more</a></div>
                                </div>
                            </li>
                            <li class="item">
                                <a class="product-img" href="#"><img src="images/img_list_01.png" alt=""/> </a>
                                <div class="product-shop">
                                    <div class="product-name"><a href="#">Mộng Tu Tiên mở máy chủ mới</a></div>
                                    <div class="desc">Lại đây bên anh, em hỡi trước khi xa anh đêm nay, lại gần bên anh. Vẫn biết đôi ta chia tay, nhưng trong lòng còn mê say...Lại gần với anh...Lại đây bên anh, hãy nói ta luôn yêu nhau tim ta chẳng đổi thay đâu. Hãy nói em không ra đi cho anh đừng buồn chia ly...</div>
                                    <div class="buttons-set"><a class="more" href="#">more</a></div>
                                </div>
                            </li>
                            <li class="item">
                                <a class="product-img" href="#"><img src="images/img_list_01.png" alt=""/> </a>
                                <div class="product-shop">
                                    <div class="product-name"><a href="#">Mộng Tu Tiên mở máy chủ mới</a></div>
                                    <div class="desc">Lại đây bên anh, em hỡi trước khi xa anh đêm nay, lại gần bên anh. Vẫn biết đôi ta chia tay, nhưng trong lòng còn mê say...Lại gần với anh...Lại đây bên anh, hãy nói ta luôn yêu nhau tim ta chẳng đổi thay đâu. Hãy nói em không ra đi cho anh đừng buồn chia ly...</div>
                                    <div class="buttons-set"><a class="more" href="#">more</a></div>
                                </div>
                            </li>
                            <li class="item">
                                <a class="product-img" href="#"><img src="images/img_list_01.png" alt=""/> </a>
                                <div class="product-shop">
                                    <div class="product-name"><a href="#">Mộng Tu Tiên mở máy chủ mới</a></div>
                                    <div class="desc">Lại đây bên anh, em hỡi trước khi xa anh đêm nay, lại gần bên anh. Vẫn biết đôi ta chia tay, nhưng trong lòng còn mê say...Lại gần với anh...Lại đây bên anh, hãy nói ta luôn yêu nhau tim ta chẳng đổi thay đâu. Hãy nói em không ra đi cho anh đừng buồn chia ly...</div>
                                    <div class="buttons-set"><a class="more" href="#">more</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="paging">
                        <ul>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-subscribe wow fadeIn">
                <div class="block-title">Đăng ký</div>
                <div class="block-content">
                    <form action="">
                        <ul class="form-list form-subscribe">
                            <li>
                                <label for="">Họ tên: </label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Email: </label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                        </ul>
                        <div class="buttons-set">
                            <button class="btn">subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="block block-formRequest wow fadeIn">
                <div class="block-title">Biểu mẫu</div>
                <div class="block-content">
                    <form action="">
                        <ul class="form-list form-subscribe">
                            <li>
                                <label for="">Anh/Chị</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Công ty</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Website</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Số điện thoại</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Email</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Fanpage</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Yêu cầu</label>
                                <div class="input-box"><textarea name="" id="" cols="30" rows="10"></textarea> </div>
                            </li>
                        </ul>
                        <div class="buttons-set">
                            <button class="btn">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="block block-facebook wow fadeIn">
                <div class="block-title">Like Fanpage</div>
                <div class="block-content">
                    <img src="images/fb.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content">
        <div class="row">
            <div class="col-md-3">
                <p><strong>Hàng bán chậm, bạn bế tắc ?</strong></p>
                <p>Hãy tìm giải giải pháp ngay để cải thiện doanh số cơ hội không đợi bạn </p>
                <p><strong>Giải pháp Marketing Online</strong></p>
                <p>give us a call 0912.345.678</p>

            </div>
            <div class="col-md-3">
                <p><strong>Giải pháp cho nhà quảng cáo</strong></p>
                <ul class="footer-links">
                    <li><a href="#">Google search</a></li>
                    <li><a href="#">Facebook Ads</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Mobile Ads</a></li>
                    <li><a href="#">Display</a></li>
                    <li><a href="#">KH thành công</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p><strong>SmartAd</strong></p>
                <ul class="footer-links">
                    <li><a href="#">Về SmartAd</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Tại sao chọn SmartAd</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p><strong>Connect with SmartAd</strong></p>
                <ul class="footer-social">
                    <li><a class="youtube" href="#">Về SmartAd</a></li>
                    <li><a class="facebook" href="#">Liên hệ</a></li>
                    <li><a class="googleplus" href="#">Tại sao chọn SmartAd</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="copyright">© 2014 <span>SmartAd.vn</span>, Inc. All Rights Reserved</div>
</footer>



</body>

    <script type="text/javascript" src="js/script.js"></script>

</html>