<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Title</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/core.css"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bxslider.js"></script>
    <script type="text/javascript" src="js/wow.js"></script>
    <script> new WOW().init( { } ); </script>
</head>

<body class="cms-home">
<header>
    <div class="top-links-wrap">
        <div class="top-links-content">
            <div class="hotline">Hotline : 0912345678</div>
            <ul class="top-links" >
                <li class="contact"><a href="#">liên hệ</a></li>
                <li class="login"><a href="#">đăng nhập</a></li>
                <li class="separate">&frasl;</li>
                <li class="register"><a href="#">đăng ký</a></li>
            </ul>
        </div>
    </div>
    <div class="logo-wrap ">
        <a class="logo" href=""><h1><strong>SmartAd SmartAd.vn</strong></h1></a>
    </div>
    <div class="megamenu style-homemenu">
        <ul class="lv0">
            <li><a href="#">Tư vấn Marketing Online</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Marketing Oline</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Google Display</a></li>
                    <li><a href="#">Facebook Ad</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul>
            </li>
            <li><a href="#">Tiếp thị số</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul>
            </li>
            <li><a href="#">Thị trường IM</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul></li>
            <li><a href="#">Về SmartAd</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul></li>
            <li><a href="#">Đối tác</a>
                <ul class="lv1">
                    <li><a href="#">Google Search</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Thiết kế website chuẩn SEO</a></li>
                </ul></li>
        </ul>
    </div>

    <div class="home-slider ">
        <ul id="slider">
            <li><a href="#"> <img src="images/slide_01.jpg" alt="Google Ad"/> </a></li>
            <li><a href="#"> <img src="images/slide_02.jpg" alt="Facebook Ad"/> </a></li>
            <li><a href="#"> <img src="images/slide_03.jpg" alt="Mobile Ad"/> </a></li>
            <li><a href="#"> <img src="images/slide_04.jpg" alt="SEO Web Design"/> </a></li>
            <li><a href="#"> <img src="images/slide_05.jpg" alt="Marketing"/> </a></li>
        </ul>

        <div id="sliderPager">
            <a data-slide-index="0" href="">Quảng Cáo<br/>Google</a>
            <a data-slide-index="1" href="">Quảng Cáo<br/>Facebook</a>
            <a data-slide-index="2" href="">Quảng Cáo<br/>Mobile</a>
            <a data-slide-index="3" href="">Thiết kế Website<br/>chuẩn SEO</a>
            <a data-slide-index="4" href="">Tư vấn Marketing<br/>Online</a>




        </div>
    </div>
</header>

<div class="container">
     <div class="row">
        <div class="col-md-8">
            <div class="block wow fadeInLeft">
                <div class="block-title solid">Thủ thuật</div>
                <div class="block-content">
                    <ul class="list">
                        <li><a href="#">Để anh vẽ tình yêu này, bằng màu hồng khác biệt </a></li>
                        <li><a href="#">Điểm lên đó một chút khô cằng của một sa mạc khắc nghiệt </a></li>
                        <li><a href="#">Anh muốn vẽ lại tất cả … những ký ức đã phôi pha </a></li>
                        <li><a href="#">Anh sẽ thêm một chút xanh lá là những con đường ta đi qua </a></li>
                        <li><a href="#">Anh vẽ tiếp bóng dáng em vẫn còn in hằng trên cát</a></li>
                        <li><a href="#">Anh sẽ ngắm em thật là kỹ cho dù chỉ là giây lát</a></li>
                        <li><a href="#">Một lần nữa anh lại thấy em, giữa phố đông chật hẹp</a></li>
                        <li><a href="#">Và em đừng khóc, bởi anh biết … em sẽ không như vậy đâu</a></li>
                        <li><a href="#">Anh sẽ vẽ thêm 1 cơn gió cùng những nổi buồn em mang theo</a></li>
                        <li><a href="#">Lùi lại đi các cậu, giờ 10h rồi, sao thông báo vs seeding kịp</a></li>
                    </ul>
                    <div class="buttons-set">
                        <a class="more" href="#">more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block wow fadeInRight">
                <div class="block-title solid">Tin tức</div>
                <div class="block-content">
                    <ul class="list">
                        <li><a href="#">Để anh vẽ tình yêu này, bằng màu hồng khác biệt </a></li>
                        <li><a href="#">Điểm lên đó một chút khô cằng của một sa mạc khắc nghiệt </a></li>
                        <li><a href="#">Anh muốn vẽ lại tất cả … những ký ức đã phôi pha </a></li>
                        <li><a href="#">Anh sẽ thêm một chút xanh lá là những con đường ta đi qua </a></li>
                        <li><a href="#">Anh vẽ tiếp bóng dáng em vẫn còn in hằng trên cát</a></li>
                        <li><a href="#">Anh sẽ ngắm em thật là kỹ cho dù chỉ là giây lát</a></li>
                        <li><a href="#">Một lần nữa anh lại thấy em, giữa phố đông chật hẹp</a></li>
                        <li><a href="#">Và em đừng khóc, bởi anh biết … em sẽ không như vậy đâu</a></li>
                        <li><a href="#">Anh sẽ vẽ thêm 1 cơn gió cùng những nổi buồn em mang theo</a></li>
                        <li><a href="#">Lùi lại đi các cậu, giờ 10h rồi, sao thông báo vs seeding kịp</a></li>
                    </ul>
                    <div class="buttons-set">
                        <a class="more" href="#">more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-second">
        <div class="col-md-4">
            <div class="block wow fadeInLeft">
                <div class="block-title">Tư vấn từ chuyên gia</div>
                <div class="block-content">
                    <form action="">
                        <ul class="form-list">
                            <li>
                                <label for="">Họ tên*</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Điện thoại*</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Email*</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Website*</label>
                                <div class="input-box"><input type="text"/></div>
                            </li>
                            <li>
                                <label for="">Mục đích quảng cáo*</label>
                                <div class="input-box"><textarea name="" id="" cols="30" rows="10"></textarea></div>
                            </li>
                        </ul>
                        <div class="buttons-set">
                            <button class="btn btn-doAdvice">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block wow fadeIn">
                <div class="block-title">Quảng cáo đúng cách</div>
                <div class="block-content">
                    <ul class="list">
                        <li><a href="#">Để anh vẽ tình yêu này, bằng màu hồng khác biệt </a></li>
                        <li><a href="#">Điểm lên đó một chút khô cằng của một sa mạc khắc nghiệt </a></li>
                        <li><a href="#">Anh muốn vẽ lại tất cả … những ký ức đã phôi pha </a></li>
                        <li><a href="#">Anh sẽ thêm một chút xanh lá là những con đường ta đi qua </a></li>
                        <li><a href="#">Anh vẽ tiếp bóng dáng em vẫn còn in hằng trên cát</a></li>
                        <li><a href="#">Anh sẽ ngắm em thật là kỹ cho dù chỉ là giây lát</a></li>
                        <li><a href="#">Một lần nữa anh lại thấy em, giữa phố đông chật hẹp</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-partner wow fadeInRight ">
                <div class="block-title">Đối tác thành công</div>
                <div class="block-content">
                    <img src="images/partner_01.png" alt=""/>
                    <img src="images/partner_02.png" alt=""/>
                    <img src="images/partner_03.png" alt=""/>
                    <img src="images/partner_04.png" alt=""/>
                    <img src="images/partner_05.png" alt=""/>
                    <img src="images/partner_06.png" alt=""/>
                    <img src="images/partner_07.png" alt=""/>
                    <img src="images/partner_08.png" alt=""/>
                    <img src="images/partner_09.png" alt=""/>
                </div>
            </div>
        </div>


    </div>
</div>

<footer>
    <div class="footer-content">
        <div class="row">
            <div class="col-md-3">
                <p><strong>Hàng bán chậm, bạn bế tắc ?</strong></p>
                <p>Hãy tìm giải giải pháp ngay để cải thiện doanh số cơ hội không đợi bạn </p>
                <p><strong>Giải pháp Marketing Online</strong></p>
                <p>give us a call 0912.345.678</p>

            </div>
            <div class="col-md-3">
                <p><strong>Giải pháp cho nhà quảng cáo</strong></p>
                <ul class="footer-links">
                    <li><a href="#">Google search</a></li>
                    <li><a href="#">Facebook Ads</a></li>
                    <li><a href="#">Remarketing</a></li>
                    <li><a href="#">Mobile Ads</a></li>
                    <li><a href="#">Display</a></li>
                    <li><a href="#">KH thành công</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p><strong>SmartAd</strong></p>
                <ul class="footer-links">
                    <li><a href="#">Về SmartAd</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Tại sao chọn SmartAd</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p><strong>Connect with SmartAd</strong></p>
                <ul class="footer-social">
                    <li><a class="youtube" href="#">Về SmartAd</a></li>
                    <li><a class="facebook" href="#">Liên hệ</a></li>
                    <li><a class="googleplus" href="#">Tại sao chọn SmartAd</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="copyright">© 2014 <span>SmartAd.vn</span>, Inc. All Rights Reserved</div>
</footer>

</body>

    <script type="text/javascript" src="js/script.js"></script>

</html>